body{
    font-family: Calibri, Helvetica, sans-serif;
}

.nav-styling{
    height: 65%;
    width: 100%;
    background-image : url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.horizontal-list{
    list-style: none;
    text-align: center;
    padding: 0;
}

.horizontal-list li{
    display: inline-block;
    margin-top: 1.5rem;
    padding-left: 1rem;
    font-weight: 100;
    font-size: 0.9rem;
}

.nav-bar li a {
    color : white;
    text-decoration: none;
    transition: color 0.3s, border-bottom 5s;
}

.nav-bar li a:hover{
    color : lightgray;
    border-bottom: 1px solid black;
}

.name-styling{
    padding-top: 20vh;
    color: white;
    text-align: center;
}

.social-icons li a i{
    color: white;
    padding: 6px;
    font-size: 1rem;
    border-radius: 50%;
    transition : color 0.3s;
}

.social-icons li a i:hover{
    color: lightgray;
    box-shadow: 0px 0px 5px 2px lightgray;
}

.leetcode-icon{
    margin: -23%;
    color: white;
    font-size: 1.1em;  
    padding: 5px;
    border-radius: 50%;
    transition : color 0.3s;
}

.leetcode-icon:hover{
    color: lightgray;
    box-shadow: 0px 0px 5px 2px lightgray;
}

.profile-photo{
    position: relative;
    height: 12rem;
    width: 12rem;
    margin :auto;
    margin-top: -10vh;
}

.profile-photo img{
    height: 100%;
    width: 100%;
    border : 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 2px lightgray;
}

.about p{
    font-size: 1.1rem;
}

.highlight-text{
    display: inline-block;
}


section:nth-child(2n)
{
    background-color: white;
    /* height: 50%; */
}

section:nth-child(2n+1)
{
    /* height: 50%; */
    background-color: #9e9b9b29;
}


.title{
    color:#2857a4;
    font-size: 1.5rem;
    padding-top: 2%;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: -2rem;
}

.skill-list{
    padding: 0rem 0rem 2.5rem 0rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.skill{
    height: 2.2rem;
    width: 13rem;
    border-radius: 4rem;
    background-color: lightgrey;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 20px;
    overflow: hidden;
}

.percentage {
    margin-top: -7.8%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.percentage p{
    padding-left: 3%;
    padding-top: 5%;
    font-weight: 500;
    vertical-align: center;
}

.blue {
    background-color: cadetblue;
}

.gold{
    background-color:gold;
}

.cf-blue {
    background-color:cornflowerblue;
}

.java-perc{
    width: 80%;
}

.html-perc{
    width: 90%;
}

.css-perc{
    width: 75%;
}

.hibernate-perc{
    width: 75%;
}

.spring-perc{
    width: 70%;
}

.springboot-perc{
    width: 60%;
}

.education-section{
    position: relative;
    width: 80%;
    margin-left: 10%;
    /* border : 2px solid black; */
}

.timeline-box:nth-child(even){
    text-align: right;                   
    position: relative;
    margin: 2rem;
    width: 40%;
    height: 5rem;
    /* border: 2px solid black; */
}


.timeline-box:nth-child(odd){
    position: relative;
    margin: 2rem;
    margin-left: 54%;
    width: 40%;
    height: 5rem;
    /* border: 2px solid black; */
}

.timeline-box:nth-child(even)::after{
    position: absolute;
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    top : 25%;
    right: -2.45rem;
    background-color: red;
}

.timeline-box:nth-child(odd)::after{
    position: absolute;
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    top : 25%;
    left: -1.85rem;
    background-color: red;
}

.timeline-divider{
    position: absolute;
    height: 60%;
    width: 0;
    border: 1px dashed red;
    top: 6rem;
    left: 50%;
}

.timeline-traveller{
    position: sticky;
    top: 50%;
    transform: rotate(90deg);
}

.degree{
    margin-top: 0%;
    color: blue;
}

.institute{
    font-size: 1rem;
    margin-top : -0.9rem;
    margin-bottom: -0.2rem;
    color: orange;
}

.education-list div span{
    font-size: 1rem;
    opacity: 0.6;
}

.contact-info-section{
    padding-top: 1rem;
    width: 100%;
    background-image: linear-gradient(45deg, #2857a4, #403066);
}

.contact-info{
    color: white;
    width: 80%;
}

.contact-info-box1{
    display: inline;
    width: 30%;
}

.contact-info-box2{
    display: inline-block;
    width: 30%;
}

.title1{
    font-size: 0.9rem;
    font-weight: 600;
}

.sub-title{
    font-size: 0.7rem;
    font-weight: 100;
}

.bottom{
    padding-bottom: 2rem;
}